# Global .gitconfig
[alias]
  # List aliases, sorted
  aliases = "!a() { git config --get-regexp alias | sort; }; a"

  # Print user email from config
  whoami = config user.email

  # Clone + submodules
  cl = clone --recursive

  # Verbose list tags
  tags = tag -l

  # Verbose list branches
  br = branch --all

  # Delete a branch if merged
  brd = branch -d

  # Forece delete a branch
  brD = branch -D

  # Switch branch
  #
  # switch to branch
  # g sw -c some-remote-branch
  #
  # switch back?
  # g sw -
  sw = switch

  # checkout alias
  co = checkout

  # Create a branch
  cob = checkout -b

  # Save a stash
  ss = stash save

  # List stashes
  sl = stash list

  # Pop a stash
  sp = stash pop

  # Apply a stash
  sa = stash apply

  # Verbose list remotes
  remotes = remote -v

  # Alias for adding upstream remote
  remoteup = remote add upstream

  # Abbreviated sha, desc, graph last 20
  ls = log --pretty=oneline -n 20 --graph --abbrev-commit

  # Abbreviated sha, desc, graph last 20 all branches
  lsa = log --pretty=oneline -n 20 --graph --abbrev-commit --all

  # Log last commit
  last = log -1 HEAD --stat

  # Short format status
  stat = status -s

  # Diff between latest and current
  # https://github.com/mathiasbynens/dotfiles/blob/main/.gitconfig
  df = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  # Pull origin main
  pom = pull origin main --recuse-submodules

  # Pull upstream main
  pum = pull upstream main --recurse-submodules

  # Get current branch name
  currentbr = "!f() { \
    local ref; \
    ref=$(git symbolic-ref --quiet HEAD 2> /dev/null); \
    local ret=$?; \
    if [[ $ret != 0 ]]; \
    then \
      [[ $ret == 128 ]] && return; \
      ref=$(git rev-parse --short HEAD 2> /dev/null) || return; \
    fi; \
    echo ${ref#refs/heads/}; \
  }; f"

  # Push current branch to origin
  pusho = !"git push origin $(git currentbr)"

  # Force push current branch to origin
  fpusho = !"git push --force-with-lease origin $(git currentbr)"

  # Push current branch to upstream
  pushu = !"git push upstream $(git currentbr)"

  # Force push current branch to upstream
  fpushu = !"git push --force-with-lease upstream $(git currentbr)"

  # Commit verbose
  cm = commit -v

  # Amend staged to last commit
  cma = commit -v --amend --reuse-message=HEAD

  # (squash) interactive rebase last N commits
  sq = "!s() { git rebase -i HEAD~$1; }; s"

  # Undo last N (default 1) commits
  undo = "!u() { git reset --soft HEAD~${1-1}; }; u"

  # Rebase alias
  rb = rebase

  # Rebase main onto current
  rbm = rebase main

  # Delete branches merged to main
  prune-branches = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

  # Revert to pristine
  nuke = reset --hard

  # Rollback a file
  rollback = checkout --

  # Unstage changes to a file
  unstage = reset HEAD --

[apply]
  # Fix whitespace errors on patch
  whitespace = fix

[branch]
  # List most recent branches first
  sort = -committerdate

[core]
  # Global .gitignore
  excludesfile = ~/.gitignore

  # Globacl .gitattributes
  attributesfile = ~/.gitattributes

  # Make git rebase after for osx
  # https://github.com/mathiasbynens/dotfiles/blob/main/.gitconfig
  # https://www.git-tower.com/blog/make-git-rebase-safe-on-osx
  trustctime = false

  # Prevent showing files with names containing non-ascii as untracked on osx
  # https://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = true

  # Speed up commands that involve determining untracked files such as git status
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

[diff]
  # Detect copies in diff
  renames = copies

[diff "bin"]
  # Use `hexdump` to diff binary files
  # https://github.com/mathiasbynens/dotfiles/blob/main/.gitconfig
  textconv = hexdump -v -C

[merge]
  # Include summaries in merge commits
  log = true

[init]
  defaultBranch = main

[help]
  # Auto correct mistyped commands (delays 3s before running correction)
  autocorrect = 30

[user]
  name = mostlylikeable
  email = mostlylikeble@gmail.com
